a{
    text-decoration: none;
}

button{
    float: right;
}
.nav{
    background-color:white;
    box-shadow: 5px 10px 18px #888888;

}

.active{
    /* border-right: 1px solid black; */
    text-align: center;
    color: red;


}
