<div class="container vh-100">
    <div class="justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5 text-center">
                
                <div class="text-center">
                    <h1 class = "welcome"> Welcome To Postbook </h1>
                </div>
                <div class="text-center" class = "login">
                    Enter your login Details.
                </div>
                    <form class="text-center" [formGroup]="loginForm" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label></label>
                        <input type="text" id="user" placeholder="Username" class="form-control" formControlName="user"
                            name="user" />
                            <span *ngIf = "loginForm.controls['user'].invalid && loginForm.controls['user'].touched  &&loginForm.hasError('required','user')">Username is required</span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control"
                            formControlName="password" name="password" />
                            <span *ngIf ="loginForm.controls['password'].invalid && loginForm.controls['password'].touched &&loginForm.hasError('required','password')">Password is required</span>
                    </div>
                    <button [disabled] = "loginForm.invalid" class="btn btn-primary">Login</button>
                </form>
                <div><span>{{message}}</span></div>
                <a routerLink = "/signup">Dont Have an Account. Click to Sign Up></a>
            </div>
        </div>
    </div>
</div>