
input{
    text-align: center;
    margin-top: 10px;
}
button{
    margin: 10px;

}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 10px 18px #888888;
}
a{
    text-decoration: none;
}
span{
    color: red;
}

.login{
    color: grey;
}